/* Reset some default browser styles */

body,
h1,
h2,
h3,
p,
blockquote,
ul,
ol,
li,
figure,
figcaption,
div,
img,
a,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Apply a box-sizing border-box model to all elements */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Linking and using correct project font */

@font-face {
  font-family: "Source Sans Pro";
  src: url(../SourceSansPro-Regular.otf) format("opentype");
}

* {
  font-family: "Source Sans Pro";
}

/* Body styles */

body {
  line-height: 1.6;
  background-image: url("/images/background.png");
  background-size: 1555px 1055px; /* Adjust as needed */
  background-position: center top; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  flex-shrink: 0;
}

/* Header styles */

header {
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 170px;
  margin-right: 170px;
  padding-top: 30px;
}

header img {
  max-width: 100%;
  height: auto;
}

nav a {
  display: inline-flex;
  height: 15px;
  justify-content: center;
  align-items: flex-start;
  gap: 52px;
  flex-shrink: 0;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Main styles */

main {
  padding: 20px;
  margin-top: 100px;
}

section {
  margin-bottom: 30px;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 90px;
}

.smiles-grin-laugh {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 50px;
}

h2 div img {
  border-radius: 50%;
}

h2 span.learn {
  color: #c271ff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 span.from-the-pros {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.pros-container {
  margin-left: 170px;
  margin-right: 170px;
}

.pros-container div img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  color: #fff;
}

.pros {
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 27px; /* 150% */
}

h3.pros,
p {
  text-align: center;
}

.pros-quote {
  color: #fff;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

p {
  margin-bottom: 15px;
}

button {
  background-color: #c271ff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 22px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Quote section styles*/

.quote-section {
  display: flex;
  align-items: center;
  margin-top: 100px;
  background-color: #c271ff;
  padding-bottom: 100px;
  padding-top: 100px;
}

.quote-section div {
  flex: 1;
}

.quote-content {
  flex: 2;
  position:relative; right: 120px;
}

.quote-section img {
  margin-left: 350px;
  border-radius: 50%;
}

blockquote {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.quote-content p {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
  text-align: left;
}

blockquote p {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px; /* 152.727% */
}

#person {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 152.727% */
}

#weather {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 33.6px; /* 152.727% */
}

/* Video tutorials styling */

.tutorial-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;
}

.tutorial-card {
  width: calc(25% - 20px);
  /* 25% width with 20px spacing between cards */
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.tutorial-card img {
  width: 100%;
  height: auto;
}

.tutorial-card h3,
.tutorial-card p {
  text-align: left;
  margin-bottom: 10px;
}

.min {
  color: #C271FF;
}

h4 {
  color: #C271FF;
}

.most-popular-tutorials {
  margin-top: 100px;
}

.tutorial-card h3 {
  color: #071629;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.author-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.author-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.stars img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

span.most-span {
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #071629;
}

span.tutorials-span {
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #071629;
}

span.popular-span {
  color: #C271FF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Membership section styles */

.free-span {
  color: #c271ff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.membership-span {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.membership {
  background-color: #071629;
  padding-bottom: 50px;
  padding-top: 50px;
}

.membership h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.membership-section {
  display: flex;
  justify-content: space-between;
}

.membership-card {
  width: 23%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #071629;
  color: #fff;
  text-align: center;
}

.svg-container {
  justify-content: center;
  align-items: center;
  height: 100px;
}

.svg-container svg {
  margin-left: 130px;
  margin-top: 50px;
}

.membership-text {
  text-align: center;
}

/* FAQ section styles */

.faq-section h2 {
  color: #071629;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

/* Styling individual FAQ items */

.faq-grid div {
  padding: 20px;
  background-color: #fff;
}

.faq-grid h3 {
  color: #071629;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.faq-grid p {
  color: rgba(7, 22, 41, 0.5);
  text-align: left;
}

/* Section with images and titles */

section > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Footer styles */

footer {
  background-color: #071629;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.smile-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust as needed */
}

.smile-section svg {
  width: 37px;
  height: 30px;
}

.socials-section {
  display: flex;
  align-items: center;
}

.socials-section svg {
  width: 130px;
  height: 30px;
}

.socials-section a {
  margin-left: auto; /* Pushes the socials to the right */
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }
}
